.st1 {
    color: white;
    background-color: greenyellow;
}
.st2 {
    color: white;
    background-color: skyblue;
}
.st3 {
    color: white;
    background-color: orange;
}
.st4 {
    color: white;
    background-color: red;
}